<!--
  Generated template for the ProductManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{"add_product"|translate}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-item>
      <img height="150px" width="150px" style="position: relative; left: 25%;" src="{{imageURI}}" (click)="alertSheetPictureOptions()"/>
    </ion-item>
    <form [formGroup]="addproductform" (ngSubmit)="addpro()" #registerForm="ngForm">
      <ion-item >
        <ion-input type="text" placeholder="'product_name' | translate" formControlName="product_name"> </ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="number" placeholder="'price' | translate" formControlName="product_price"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="number" placeholder="'quantity'|translate" formControlName="product_quantity"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="number" placeholder="'weight'|translate" formControlName="product_weight"></ion-input>
      </ion-item>
      <ion-item >
          <ion-input type="text" placeholder="'product_content'|translate" formControlName="product_description"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="text" placeholder="'expand_title'|translate" formControlName="product_metatitle"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="text" placeholder="'model'|translate" formControlName="product_model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >{{"area"|translate}}</ion-label>
      <ion-select formControlName="product_area">
        <ion-option *ngFor="let area of area_arr" [value]="area.zone_id">{{area.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
        <ion-label >{{"category"|translate}}</ion-label>
        <ion-select formControlName="product_category">
          <ion-option  *ngFor="let category of categogry_arr" [value]="category.category_id">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
      <button ion-button full [disabled]="!filled()" type="submit" style="background-color:#03C320">{{"add_product"|translate}}</button>
      </ion-item>
    </form>
  </ion-content>
  