<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"register"|translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">{{"close"|translate}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form style="margin-bottom: 30px" [formGroup]="registerform" (ngSubmit)="dangky()" #registerForm="ngForm">
      <ion-item>
        <ion-label floating>{{"email"|translate}}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"password"|translate}}</ion-label>
        <ion-input type="password"  formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"re_enter_password"|translate}}</ion-label>
        <ion-input type="password" formControlName="repassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"firstname"|translate}}</ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"lastname"|translate}}</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"phone"|translate}}</ion-label>
        <ion-input type="number" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"address"|translate}}</ion-label>
        <ion-input type="text"  formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"city"|translate}}</ion-label>
        <ion-input type="text"  formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"zipcode"|translate}}</ion-label>
        <ion-input type="number"  formControlName="zipcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"nation"|translate}}</ion-label>
        <ion-select formControlName="nation" (ionChange)="getallzone()" >
          <ion-option *ngFor="let nationElement of nationarr" [value]="nationElement.country_id">{{nationElement.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{"area"|translate}}</ion-label>
        <ion-select formControlName="area" >
          <ion-option *ngFor="let area of zonearr" [value]="area.zone_id">{{area.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block style="width : 100%" type="submit" [disabled]="!fullfill()" style="background-color:#03C320">{{"register"|translate}}</button>
    </form>
  </ion-list>
</ion-content>
