page-cart {
  .text-input-ios{
    margin: 0 8px 11px 5px;
  }
  
  .text-input-md{
    margin: 0 8px 11px 5px;
  }
}

.price-cart{
  color: #e6e6e6;

}

.label-border{
  background-color: lightgray;
  height: 30px;
  padding: 5px;
  font-size: 1.3em;
  padding-left: 15px;
}
