page-view-order {
    .header-purchase{
        height: 42px;
        border-bottom:1px solid silver; 
        margin-left:0px;
    }
    .name-shop{
        font-size: 18px;
        float: left;
        margin-top: 10px;
        margin-left: 0;
    }
}
