<ion-header class="navbar">
  <ion-navbar>
    <!-- <ion-buttons start>
      <button class="btn-back" ion-button (click)="doYourStuff()">
        <ion-icon class="customIcon" name="arrow-back"> Back</ion-icon>
      </button>
    </ion-buttons> -->
    <div class="logo-header">
      <img src="http://24gocheck.com/image/catalog/24gocheck%20Icons/MockUI/24go%20check.png" alt="" height="200px">
    </div>
    <!--<ion-buttons right>-->
    <!--<button class="btn-back" ion-button (click)="doYourStuff()">-->
    <!--<ion-icon class="ion-ios-search" name=""></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <front-slider></front-slider>
  <ion-scroll scrollX="true" style="height: 150px; margin-bottom: 10px;">
    <ul class="row home-category-grid-icons" id="iconSlide">
      <li>
        <a style="min-height: 60px; margin-left: 0; margin-right: 0; text-decoration: none;" class="col" *ngFor="let category of categoryList"
          [navPush]="categoryPage" [navParams]="category">
          <div class="parent-background">
            <div class="background-opacity">
              <div class="cat-name">
                <span class="white-space">{{category.name}}</span>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </ion-scroll>
  <h3 padding-left>{{'home.shop' | translate}}</h3>
  <ion-list style="margin: 0 0 32px;background-color:#f7f7f7">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let shop of shopList">
          <img [navPush]="shopDetailsPage" [navParams]="shop" src="{{shop.user_image || 'assets/imgs/placeholder.png'}}" height="150"
          />
          <ion-row>
            <ion-col col-8 style="border-right:1px solid #82603c">
              <ion-title>
                <h2 class="title-product white-space">{{shop.company || shop.fullname}}</h2>
              </ion-title>
              <span>{{shop.adderss}}</span>
              <a class="order-product" style="color: red;" href="#">{{'home.view_detail' | translate}}</a>
            </ion-col>
            <ion-col col-4>
              <p>{{shop.product_count}}
                <span style="color: red"> {{'home.product'|translate}}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
