<!--
  Generated template for the AccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'account' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="accountsService.isUserLoggedIn()" >
    <ion-item class="account-icon-view" [navPush]="profilePage" style="border-bottom: none;">
      <ion-icon name="contact" class="color-icon" item-start></ion-icon>
      <span>{{"account_info"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view" [navPush]="productManagementPage" *ngIf="accountsService.isStallholder()">
      <ion-icon name="create" class="color-icon" item-start></ion-icon>
      <span>{{"shop_manage"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view" [navPush]="favoritesPage">
      <ion-icon name="heart" class="color-icon" item-start></ion-icon>
      <span>{{"favorite"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view">
      <ion-icon name="clipboard" class="color-icon" item-start></ion-icon>
      <span>{{"transaction_history"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view" [navPush]="feedbackPage">
      <ion-icon name="paper" class="color-icon" item-start></ion-icon>
      <span>{{"feedback"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view">
      <ion-icon name="help-circle" class="color-icon" item-start></ion-icon>
      <span>{{"tutorial"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item class="account-icon-view">
      <ion-icon name="information-circle" class="color-icon" item-start></ion-icon>
      <span>{{"about_us"|translate}}</span>
      <ion-icon class="acc-next" name="arrow-forward"></ion-icon>
    </ion-item><hr>
    <ion-item>
        <ion-label>{{"language"|translate}}</ion-label>
        <ion-select [(ngModel)]="lang" (ionChange)="onChange($event)">
          <ion-option value="vi">{{"language.vietnamese"|translate}}</ion-option>
          <ion-option value="en">{{"language.english"|translate}}</ion-option>
        </ion-select>
      </ion-item>
    <button ion-item full (click)="onUserLogout()" >{{"logout"|translate}}</button>
    <!-- <button ion-item full [navPush]="testPage">Test</button> -->
  </ion-list>
  <!-- <ion-list *ngIf="!accountsService.isUserLoggedIn()" >
    <ion-item>User is not logged in</ion-item>
  </ion-list> -->
</ion-content>
