page-purchase {
    .grid-purchase{
        margin-top: 20px;
        margin-bottom: 20px;
        background: whitesmoke;
    }
    .header-purchase{
        height: 42px;
        border-bottom:1px solid silver; 
        margin-left:0px;
    }
    .avatar {
        width: 35px;
        height: 35px;
        float: left;
        margin: 5px 10px 5px 0px;
    }
    .name-shop{
        font-size: 18px;
        float: left;
        margin-top: 10px;
    }
    .noti-purchase{
        float: right;
        color: #0185cf;
        font-size:18px;
        margin-top: 10px;
    }
    .product-img{
        width: 100px;
        height: 100px;
        float: left;
        margin-left: -5px;
    }
    .name-product{
        margin-top: 10px;
        float: left;
        font-size: 18px;
    }
    .amount{
        float: left;
        font-size: 15px;
        margin-left: 5px;
        color: silver;
    }
    .price{
        float: right;
        color: tomato;
    }
    .price-x {
        float: right;
        color: silver;
        margin-right: 10px; 
    }
    .item-ios.item-block .item-inner,.item-md.item-block .item-inner{
        border-bottom: none; 
    }
    .button{
        margin: 10px 25px 0px;
    }
}
