page-search {
  #floating-panel {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #map {
    height: 100%;
  }
  
.background-opacity{
  height: 20px;
  background: #fff;
  border-radius: 7px;
  opacity: unset;
  border: 1px solid #03c320;
}

.parent-background{
  height: 30px;
  width: 110px;
}
#iconSlide li{
  height: 30px;
}

#iconSlide li a{
  background: none;
}

#iconSlide{
  li{
    a{
      .cat-name{
        width: 65px;
        margin: 0 auto;
      }
    }
  }
}

#iconSlide li a span{
  color: #03c320;
  bottom: -3px;
}


}

.searchbar-ios{
  padding: 0 8px;
  min-height: 20px;
  border-top: 0.55px solid transparent;
  border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
}

.searchbar-md{
  padding: 0 8px;
  min-height: 44px;
  border-top: 0.55px solid transparent;
  border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
}

.searchbar-input-container{
  border: none;
}

.searchbar-ios{
  .searchbar-input{
    background-color: #e6e6e6;
  }
}

.searchbar-md{
  .searchbar-input{
    background-color: #e6e6e6;
  }
}

.list-ios {
  .item-block:first-child{
    border: none;
  }
}

.list-ios{
  .item-block{
    .item-inner{
      border: none;
    }
  }
}

.list-ios {
  .item-block:last-child{
    border: none;
  }
}

.item-ios{
  padding-left: 0;
  margin-left: 2%;
  .item-block{
    .item-inner{
      padding-right: 0;
    }
  }
}

ion-app.ios [padding-bottom]{
  padding-bottom: 2px;
}

ion-app.ios [padding-top]{
  padding-top: 10px;
}

ion-app.ios [padding]{
  padding: 10px;
}




ion-app.md [padding-bottom]{
  padding-bottom: 2px;
}

ion-app.md [padding-top]{
  padding-top: 10px;
}

ion-app.md [padding]{
  padding: 10px;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  border-color: #03c320;
  opacity: 1;
}